CrediSeguroPOS/CrediSeguroPOS/Web References/CrediSeguroWS/Tarjeta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cargo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumeroTarjeta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Cargo" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargoResponse">
        <s:complexType />
      </s:element>
      <s:element name="MontoDisponible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumeroTarjeta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MontoDisponibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MontoDisponibleResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CargoSoapIn">
    <wsdl:part name="parameters" element="tns:Cargo" />
  </wsdl:message>
  <wsdl:message name="CargoSoapOut">
    <wsdl:part name="parameters" element="tns:CargoResponse" />
  </wsdl:message>
  <wsdl:message name="MontoDisponibleSoapIn">
    <wsdl:part name="parameters" element="tns:MontoDisponible" />
  </wsdl:message>
  <wsdl:message name="MontoDisponibleSoapOut">
    <wsdl:part name="parameters" element="tns:MontoDisponibleResponse" />
  </wsdl:message>
  <wsdl:portType name="TarjetaSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cargo">
      <wsdl:input message="tns:CargoSoapIn" />
      <wsdl:output message="tns:CargoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MontoDisponible">
      <wsdl:input message="tns:MontoDisponibleSoapIn" />
      <wsdl:output message="tns:MontoDisponibleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TarjetaSoap" type="tns:TarjetaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cargo">
      <soap:operation soapAction="http://tempuri.org/Cargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MontoDisponible">
      <soap:operation soapAction="http://tempuri.org/MontoDisponible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TarjetaSoap12" type="tns:TarjetaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cargo">
      <soap12:operation soapAction="http://tempuri.org/Cargo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MontoDisponible">
      <soap12:operation soapAction="http://tempuri.org/MontoDisponible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tarjeta">
    <wsdl:port name="TarjetaSoap" binding="tns:TarjetaSoap">
      <soap:address location="http://localhost/CrediSeguroWS/Tarjeta.asmx" />
    </wsdl:port>
    <wsdl:port name="TarjetaSoap12" binding="tns:TarjetaSoap12">
      <soap12:address location="http://localhost/CrediSeguroWS/Tarjeta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>